<div class="footer-container">
    <div class="footer-top">
        <div class="container">
            <div class="footer-widgets">
                <div class="footer-widget contact-info">
                    <img src="https://www.dhm.gov.np/assets/frontend/assets/images/new_logo.png" height="60px" width="60px" alt="DHM Logo" />
                    <h4>Department of Hydrology and Meteorology</h4>
                    <p><i class="fas fa-map-marker-alt"></i> Babarmahal, Kathmandu</p>
                    <p><i class="fas fa-phone"></i> +977-1-4215310, 4219805</p>
                    <p><i class="fas fa-envelope"></i> info@dhm.gov.np</p>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                
                <div class="footer-widget quick-links">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/aboutus.html">About Us</a></li>
                        <li><a href="/metobs.html">Meteorological Observations</a></li>
                        <li><a href="/metfore.html">Meteorological Forecast</a></li>
                        <li><a href="/hydobs.html">Hydrological Observations</a></li>
                        <li><a href="/hydfore.html">Hydrological Forecast</a></li>
                    </ul>
                </div>
                
                <div class="footer-widget contacts">
                    <h4>Key Contacts</h4>
                    <div class="contact-person">
                        <h5>Spokesperson</h5>
                        <p>Bibhuti Pokhrel</p>
                        <p><i class="fas fa-phone"></i> 9863477915</p>
                        <p><i class="fas fa-envelope"></i> dhm.spokesperson@gmail.com</p>
                    </div>
                    <div class="contact-person">
                        <h5>Information Officer</h5>
                        <p>Dinkar Kayastha</p>
                        <p><i class="fas fa-phone"></i> 9863477916</p>
                        <p><i class="fas fa-envelope"></i> info@dhm.gov.np</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> Department of Hydrology and Meteorology. All Rights Reserved.</p>
            <p><small>Government of Nepal | Ministry of Energy, Water Resources and Irrigation</small></p>
        </div>
    </div>
</div>