<div class="header-top container">
  <div class="header-top-logo">
    <a href="/index.html" class="header-top-logo-image">
      <img
        src="https://www.dhm.gov.np/assets/frontend/assets/images/new_logo.png"
        height="100px"
        width="100px"
        alt="DHM Logo"
      />
    </a>
  </div>
  <div class="header-top-text">
    <h5>Government of Nepal</h5>
    <h5>Ministry of Energy, Water Resources and Irrigation</h5>
    <h3>Department of Hydrology and Meteorology</h3>
    <div class="header-contact">
      <small><i class="fas fa-phone"></i> +977-1-4215310, 4219805 | <i class="fas fa-envelope"></i> info@dhm.gov.np</small>
    </div>
  </div>
  <div class="header-right-section">
    <div class="language-selector">
      <a href="#" class="active">EN</a> | <a href="#">नेपाली</a>
    </div>
    <div class="header-right-logo">
      <img src="nepal-01.png" height="100px" width="100px" alt="nepal-flag">
    </div>
  </div>
</div>
<nav class="header-nav">
  <ul>
    <li><b><a href="/index.html" style="text-decoration: none; color: inherit;">Home</a></b></li>
    <li><b><a href="/aboutus.html" style="text-decoration: none; color: inherit;">About Us</a></b></li>
    <li><b><a href="/metobs.html" style="text-decoration: none; color: inherit;">Meteorological Observations</a></b></li>
    <li><b><a href="/metfore.html" style="text-decoration: none; color: inherit;">Meteorological Forecast</a></b></li>
    <li><b><a href="/hydobs.html" style="text-decoration: none; color: inherit;">Hydrological Observations</a></b></li>
    <li><b><a href="/hydfore.html" style="text-decoration: none; color: inherit;">Hydrological Forecast</a></b></li>
    <li><b><a href="/publications.html" style="text-decoration: none; color: inherit;">Publications</a></b></li>
    <li><b><a href="/contact.html" style="text-decoration: none; color: inherit;">Contact</a></b></li>
  </ul>
</nav>
